html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
nav {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: block;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback {
  font-size: 0.875em;
  padding: 12px 26px;
  border: 2px solid #66c05d;
  border-radius: 40px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.callback:hover {
  color: #fff;
  background-color: #66c05d;
}

.phone {
  font-size: 1em;
  margin-right: 40px;
}

.header__top {
  background-color: #efefef;
  padding: 16px 0;
}

.header__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 0.875em;
}

.header__top__link {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__top__link:hover {
  opacity: 0.7;
}

.header__middle {
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}

.header__middle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  padding: 30px 0;
}

.header__bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 705px;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.header__bottom__link {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__bottom__link:hover {
  opacity: 0.7;
}

.hero {
  background-color: #66c05d;
  overflow: hidden;
  color: #fff;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__blur {
  width: 100%;
  height: 100%;
}

.hero__after {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__after::after {
  content: "";
  position: absolute;
  width: 116%;
  height: 116%;
  display: block;
  background: #fff;
  opacity: 0.4;
  border-radius: 50%;
  top: -8%;
  left: -8%;
}

.hero__after::before {
  content: "";
  position: absolute;
  width: 147%;
  height: 147%;
  display: block;
  background: #fff;
  opacity: 0.3;
  border-radius: 50%;
  top: -23.5%;
  left: -23.5%;
}

.hero__img {
  display: block;
  position: relative;
}

.hero__img img {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.hero__content {
  max-width: 310px;
  padding-top: 17%;
}

.hero__title {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10%;
}

.hero__text {
  font-size: 0.875em;
  line-height: 1.4;
  margin-bottom: 10%;
}

.hero__more {
  font-size: 0.875em;
  padding: 12px 45px;
  border: 2px solid #fff;
  border-radius: 40px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.hero__more:hover {
  color: #000;
  background-color: #fff;
}

.special {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 130px;
}

.special__wrapper {
  margin-bottom: 100px;
}

.special__title {
  display: block;
  font-size: 1.5em;
  margin-bottom: 38px;
}

.special__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.special__show__more {
  display: none;
  margin: 0 auto;
  background-color: #66c05d;
  color: #fff;
  padding: 10px 21px;
  border-radius: 30px;
  font-size: 0.875em;
}

.special__card {
  background-color: #fff;
  max-width: 255px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special__card__img {
  margin-bottom: 20px;
}

.special__card__info {
  font-size: 0.875em;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.special__card__price {
  font-weight: 500;
  font-size: 1.3125em;
  text-align: center;
  margin-bottom: 20px;
}

.special__card__buy {
  background-color: #66c05d;
  padding: 7px 38px;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #66c05d;
  font-size: 0.875em;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.special__card__buy:hover {
  color: #000;
  background-color: #fff;
}

.special__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special__promo__gifts {
  background-color: #66c05d;
  padding: 35px 40px;
  color: #fff;
  max-width: 540px;
  width: 100%;
  position: relative;
}

.special__promo__gifts::after {
  content: url(../img/email.svg);
  position: absolute;
  right: 45px;
  top: 45px;
}

.special__promo__shops {
  background-color: #66c05d;
  padding: 35px 40px;
  color: #fff;
  max-width: 540px;
  width: 100%;
  position: relative;
}

.special__promo__shops::after {
  content: url(../img/car.svg);
  position: absolute;
  right: 45px;
  top: 62px;
}

.special__promo__content {
  max-width: 250px;
}

.special__promo__title {
  margin-bottom: 25px;
}

.special__promo__text {
  font-size: 0.875em;
  line-height: 1.4;
  margin-bottom: 25px;
}

.special__promo__text--shops {
  max-width: 145px;
}

.special__promo__email {
  width: 100%;
  padding: 10px 25px;
  border-radius: 30px;
}

.special__promo__email::-webkit-input-placeholder {
  color: #c4c4c4;
}

.special__promo__email::-moz-placeholder {
  color: #c4c4c4;
}

.special__promo__email:-ms-input-placeholder {
  color: #c4c4c4;
}

.special__promo__email::-ms-input-placeholder {
  color: #c4c4c4;
}

.special__promo__email::placeholder {
  color: #c4c4c4;
}

.special__promo__map {
  font-size: 0.875em;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 30px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.special__promo__map:hover {
  background-color: #fff;
  color: #000;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 230px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #66c05d;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer__socials__link:hover {
  background-color: #66c05d;
}

.footer__socials__link:hover path {
  fill: #fff;
}

.footer__adress {
  font-size: 0.875em;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
}

.footer__bottom {
  background-color: #efefef;
  padding: 25px 0;
  font-size: 0.75em;
  color: #828282;
}

.footer__bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .special {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .special__wrapper {
    margin-bottom: 30px;
  }

  .special__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .special__show__more {
    display: block;
  }

  .special__card:nth-child(4) {
    display: none;
  }

  .special__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .special__promo__gifts {
    margin-bottom: 20px;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 25px 0;
  }

  .footer__adress {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    margin-bottom: 15px;
  }

  .footer__contact {
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__phone {
    margin-right: 0;
    font-size: 0.875em;
  }

  .footer__callback {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .special__title {
    text-align: center;
  }

  .special__cards {
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 540px;
    margin-bottom: 20px;
  }

  .special__card:nth-child(3) {
    display: none;
  }

  .footer__bottom {
    padding: 15px 0;
  }

  .footer__bottom__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__policy {
    margin-bottom: 10px;
  }

  .footer__copy {
    text-align: center;
  }
}

@media (max-width: 650px) {
  body {
    font-size: 12px;
  }

  .callback {
    padding: 8px 15px;
  }

  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__middle__logo {
    max-width: 50%;
  }

  .header__middle__phone {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header__bottom {
    padding: 15px 0;
  }

  .header__bottom__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__bottom__item {
    display: block;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    text-align: center;
  }

  .header__bottom__item:nth-child(-n+3) {
    margin-bottom: 5px;
  }

  .hero__title {
    font-size: 2em;
    margin-bottom: 5%;
  }

  .hero__content {
    padding-top: 13%;
  }

  .hero__text {
    margin-bottom: 5%;
  }

  .hero__img {
    max-width: 50%;
  }

  .hero__more {
    padding: 8px 25px;
  }

  .special__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .special__card {
    margin-bottom: 20px;
  }

  .special__promo__gifts,
  .special__promo__shops {
    max-width: 330px;
  }

  .special__promo__gifts::after,
  .special__promo__shops::after {
    display: none;
  }
}

@media (max-width: 425px) {
  .hero__content {
    padding-top: 5%;
  }
}

@media (max-width: 320px) {
  .hero__title {
    font-size: 1.5em;
  }
}